.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Заполняет контейнер, сохраняя пропорции */
    z-index: -1; /* Размещает видео за контентом */
}

.nav-link {
    color: white; /* Белый цвет текста */
}

.nav-link.active {
    color: #f8f9fa; /* Светлый цвет для активного пункта */
}

/* Изменяем цвет при наведении */
.nav-link:hover {
    color: red; /* Светлый цвет при наведении */
}

.reverse {
    transform: rotate(0deg); /* Поворот на 180 градусов */
    transition: transform 0.9s; /* Плавный переход для анимации */
    object-fit: contain; /* Удерживает изображение внутри контейнера */
}

.reverse:hover {
    transform: rotate(180deg); /* Поворот на 360 градусов при наведении */
}

p {
    color: #f8f9fa;
}

h1 {
    color: #f8f9fa;
}

.text-buy {
    color: white;
    background-color: #912323;
}



.btn-buy:hover {
    background-color: white;
    color: black;
}



.rubik-marker-hatch-regular {
  font-family: "Rubik Marker Hatch", system-ui;
  font-weight: 400;
  font-style: normal;
}

.image-container {
    overflow: hidden; /* Прячет излишки, если трансформация превышает границы контейнера */
    width: 190px; /* Убедитесь, что контейнер имеет фиксированную ширину */
}


