{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Подключаем css -->
<link type="text/css" href="{% static 'psln/css/songs.css' %}" rel="stylesheet"/>

<!-- Основное меню -->
<nav style="margin-top: 45px">
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'concerts' %}#live">КОНЦЕРТЫ</a>
  </li>

  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'shop:shop' %}">МАГАЗИН МЕРЧА</a>
  </li>

  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'audio' %}">АУДИО</a>
  </li>

  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'video' %}">ВИДЕО</a>
  </li>
</ul>
</nav>

<div class="container-fluid">
    <!-- Центр(изображение) -->
     <div class="d-flex justify-content-center">
         <img src="{% static 'psln/image/logo.png' %}" alt="Podteki Image" class="hidden-controls no-select mt-5 mb-5 pulse" width="400" height="400"/>
     </div>

    <!-- Маска(левая) -->
     <div class="maska-left py-5 px-5">
         <img src="{% static 'psln/image/maska_left.png' %}" alt="Podteki Image" class="float-start animate-nod hidden-controls no-select" width="300" height="300"/>
     </div>

        <!-- Маска(правая) -->
     <div class="maska-right py-5 px-5">
         <img src="{% static 'psln/image/maska_right.png' %}" alt="Podteki Image" class="float-end animate-nod hidden-controls no-select" width="300" height="300"/>
     </div>
</div>


<div class="container text-center py-5">
    <h1 class="rubik-marker-hatch-regular color-song mt-5">Пневмослон - {{ album_title }}</h1>
</div>


<div class="container">
    <div class="row justify-content-center">
        <!-- Колонка для содержания -->
        <div class="col-auto">
            {% for song in songs_from_same_album %}
            <div class="d-flex align-items-center mb-3">
                <!-- Обложка альбома -->
                <img class="rounded me-2" src="{{ image_menu_detail.url }}" alt="{{ menu.title }} image" width="30" height="30">
                <!-- Информация о песне -->
                <div>
                    <p class="mb-0 color-song lxgw-wenkai-mono-tc-regular">
                        {{ forloop.counter }}. <span class="fw-bold color-song lxgw-wenkai-mono-tc-regular">{{ song.title }}</span> ({{ song.duration }})
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}